<div class="row">
  <div class="span5">
    <div class="well">
      <h3>Create a Case</h3>
      <%= form_for(@case) do |f| %>
        <% if @case.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@case.errors.count, "error") %> prohibited this case from being saved:</h2>

            <ul>
            <% @case.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.text_field :title,:class=>"span4", :placeholder=>"Title"%>
        <%= f.text_field :total_money,:class=>"span4", :placeholder=>"Total Money" %>
        <%= f.text_field :inst_months,:class=>"span4", :placeholder=>"Months to Pay Back" %>
        <%= f.text_field :starting_date, :class=>"span4", :placeholder=>"Starting Date" %>
        <%= f.text_area :description, :class=>"span4", :placeholder=>"Description"  %>
        <%= f.submit "Request", :class=>"btn" %>
      <%end%>
    </div>
    <%= link_to 'Back', cases_path %>
  </div>
</div><!--/row-->